#responsiveLayout {
    .set(@availableW) {
        @actionH: 50px;
        @cellW: (@availableW - 32 )/ 9;
        @contentH: @availableW + @actionH;

        .sudoku-cell {
            width: @cellW;
            height: @cellW;
            text-align: center;
            font-size: @cellW / 3;
        }

        #content {
            width: @availableW;
        }

        #board {
            height: @availableW;
            width: @availableW;
            margin: 0 auto;
        }

        #actions {
            height: 40px;
        }

        #dialogs {
            width: @availableW - 100;
        }

        #board-container {
            height: @contentH;
            width: @availableW;
            margin: 0 auto;
        }

        .actionButton {
            width: (@availableW / 3);
        }

    }
}

#actions {
    margin: 10px 0;

    .actionButton {
        padding: 0px;
        height: 40px;
    }
}

@media (orientation : portrait) {
    
}

@media (max-width: 499px) and (orientation : portrait) {
    #responsiveLayout > .set(300px);
}

@media (min-width: 500px) and  (max-width: 599px) and (orientation : portrait) {
    #responsiveLayout > .set(500px);
}

@media (min-width: 600px) and (max-width: 767px) and (orientation : portrait) {
    #responsiveLayout > .set(572px);
}

@media (min-width: 768px) and (max-width: 979px) and (orientation : portrait) {
    #responsiveLayout > .set(768px);
}

@media (min-width: 980px) and (orientation : portrait) {
    #responsiveLayout > .set(980px);
}

@media (max-height: 499px) and (orientation : landscape) {
    #responsiveLayout > .set(300px);
}

@media (min-height: 500px) and  (max-height: 599px) and (orientation : landscape) {
    #responsiveLayout > .set(500px);
}

@media (min-height: 600px) and (max-height: 767px) and (orientation : landscape){
    #responsiveLayout > .set(600px);
}

@media (min-height: 768px) and (max-height: 979px) and (orientation : landscape){
    #responsiveLayout > .set(768px);
}

@media (min-height: 980px) and (orientation : landscape) {
    #responsiveLayout > .set(980px);
}