@fontStack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@darkBg: #222222;
@darkFont: #FFFFFF;
@outerLine: darken(@darkFont, 25%);
button {
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    background: @darkBg;
    color: @darkFont;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    &:hover {
        background: lighten(#2E2E2E, 10%);
    }
    &:active {
        background: darken(#2E2E2E, 10%);
    }
    &:focus {
        outline: none;
    }
}
button.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: @fontStack;
    background: @outerLine;
    color: @darkFont;
    font-weight: 100;
}
#header {
    font-weight: 200;
    height: 50px;
    font-size: 2rem;
    color: #222222;
    line-height: 50px;
}
#content {
    margin: 0 auto;
    opacity: 0.8;
}
#board {
    &.dim {
        opacity: 0.1;
    }
}
.sudoku-cell {
    background: @darkBg;
    color: @darkFont;
    padding: 0;
    font-weight: 100;
    border: 1px solid darken(@darkFont, 55%);
    &.disabled {
        background: lighten(@darkBg, 10%);
    }
    &.error {
        background: #140000;
    }
    &.solved {
        background: #001414;
    }
    &:focus {
        outline: none;
    }
}
.actionButton {
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
#dialogs {
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    background: #222;
    opacity: 0.8;
    border-radius: 5px;
}
#newspaper {
    background: url('../images/bg.png');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
}
#newspaperMask {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
table.no-spacing {
    border-spacing: 0;
    border-collapse: collapse;
    td, th {
        padding: 0;
    }
}
table {
    border: 5px solid #222222;
}
col.column3 {
    border-left: 2px solid @outerLine;
}
col.column6 {
    border-left: 2px solid @outerLine;
}
tr.row3 {
    border-top: 2px solid @outerLine;
}
tr.row6 {
    border-top: 2px solid @outerLine;
}