<!DOCTYPE html>
<html>
   <head>
      <title>Sudoku</title>
      <link rel="stylesheet/less" href="css/sudokuboard.css">
      <link rel="stylesheet/less" href="css/main.css">
      <link rel="stylesheet/less" href="css/layout.css">
   </head>
   <body style="display:none;">
      <div id="newspaper" ></div>
      <div id="newspaperMask" ></div>
      <div id="content">
        <div id="header">Sudoku</div> 
        <div id="board-container">
          <div id="actions"></div>
          <div id="dialogs"></div>
          <div id="board"></div>
        </div>
        <div id="footer"></div> 
      </div>
      <script id="sudoku-board-template" type="text/x-handlebars-template">
        <table class="no-spacing">
                <colgroup>
                {{#each board}} 
                    <col class="column{{@index}}">
                {{/each}} 
                    
                </colgroup>
                {{#each board}} 
                <tr data-row={{@index}} class="row{{@index}}">
                    {{#each this}}
                        <td class="column{{@index}}">
                            <input type="text" class="sudoku-cell {{#if this.readOnly}}disabled{{/if}} {{#unless this.valid}}error{{/unless}} {{#if this.solved}}solved{{/if}}" {{#if this.readOnly}}disabled{{/if}} data-column={{@index}}  value={{this.value}}></input>
                        </td>
                    {{/each}}
                </tr> 
                {{/each}} 
        </table> 
      </script>
      <script id="sudoku-new-dialog-template" type="text/x-handlebars-template">
          <div class="newDialog">
          The Classic Sudoku is a number placing puzzle based on a 9x9 grid with several given numbers. The object is to place the numbers 1 to 9 in the empty squares so that each row, each column and each 3x3 box contains the same number only once.
            <button type="button" id="newgame" class='center'>New game</button>
          </div>
      </script>
       <script id="sudoku-rules-dialog-template" type="text/x-handlebars-template">
          <div class="newDialog">
          The Classic Sudoku is a number placing puzzle based on a 9x9 grid with several given numbers. The object is to place the numbers 1 to 9 in the empty squares so that each row, each column and each 3x3 box contains the same number only once.
            <button type="button" id="resume" class='center'>Resume</button>
          </div>
      </script>
      <script id="sudoku-end-dialog-template" type="text/x-handlebars-template">
          <div class="endDialog">
          Are you sure? Any progress will be lost.
          <button type="button" id="yes" class='center'>Yes</button>
          <button type="button" id="no">No</button>
          </div>
      </script>
      <script id="sudoku-actions-template" type="text/x-handlebars-template">
          <button type="button" class="actionButton" id="solve">Solve</button>
          <button type="button" class="actionButton" id="endgame">Finish</button>
          <button type="button" class="actionButton" id="about">Rules</button>
      </script>
      <script src="lib/jquery.js"></script>
      <script src="lib/less.js"></script>
      <script src="lib/handlebars.js"></script>

      <script src="js/models/SudokuBoardCellModel.js"></script>
      <script src="js/models/SudokuBoardModel.js"></script>

      <script src="js/views/SudokuBoardView.js"></script>
      <script src="js/views/SudokuBoardActionsView.js"></script>
      <script src="js/views/SudokuBoardEndActionView.js"></script>
      <script src="js/views/SudokuBoardRulesActionView.js"></script>
      

      <script src="js/SudokuBoardGenerator.js"></script>
      <script src="js/SudokuBoardValidator.js"></script>
      <script src="js/SudokuBoardHinter.js"></script>
      <script src="js/SudokuBoardSolver.js"></script>

      <script src="js/app.js"></script>
   </body>
</html>